In [1]:
# from sklearn import preprocessing

In [2]:
import pandas as pd
pizza = pd.read_csv('https://query.data.world/s/d5o6aidnjzwovs2yqam2cwi7fwk2hf')

In [3]:
pizza.head()

  brand     id   mois   prot    fat   ash  sodium  carb   cal
0     A  14069  27.82  21.43  44.87  5.11    1.77  0.77  4.93
1     A  14053  28.49  21.26  43.89  5.34    1.79  1.02  4.84
2     A  14025  28.35  19.99  45.78  5.08    1.63  0.80  4.95
3     A  14016  30.55  20.15  43.13  4.79    1.61  1.38  4.74
4     A  14005  30.49  21.28  41.65  4.82    1.64  1.76  4.67

In [4]:
pizza.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   brand   300 non-null    object
 1   id      300 non-null    int64
 2   mois    300 non-null    float64
 3   prot    300 non-null    float64
 4   fat     300 non-null    float64
 5   ash     300 non-null    float64
 6   sodium  300 non-null    float64
 7   carb    300 non-null    float64
 8   cal     300 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 21.2+ KB

In [5]:
pizza.isnull().sum()

brand     0
id        0
mois      0
prot      0
fat       0
ash       0
sodium    0
carb      0
cal       0
dtype: int64

In [6]:
dicts = pizza.to_dict('series')

In [7]:
type(pizza)

pandas.core.frame.DataFrame

In [8]:
dicts

{'brand': 0      A
 1      A
 2      A
 3      A
 4      A
       ..
 295    J
 296    J
 297    J
 298    J
 299    J
 Name: brand, Length: 300, dtype: object,
 'id': 0      14069
 1      14053
 2      14025
 3      14016
 4      14005
        ...
 295    34044
 296    24069
 297    34039
 298    14044
 299    14045
 Name: id, Length: 300, dtype: int64,
 'mois': 0      27.82
 1      28.49
 2      28.35
 3      30.55
 4      30.49
        ...
 295    44.91
 296    43.15
 297    44.55
 298    47.60
 299    46.84
 Name: mois, Length: 300, dtype: float64,
 'prot': 0      21.43
 1      21.26
 2      19.99
 3      20.15
 4      21.28
        ...
 295    11.07
 296    11.79
 297    11.01
 298    10.43
 299     9.91
 Name: prot, Length: 300, dtype: float64,
 'fat': 0      44.87
 1      43.89
 2      45.78
 3      43.13
 4      41.65
        ...
 295    17.00
 296    18.46
 297    16.03
 298    15.18
 299    15.50
 Name: fat, Length: 300, dtype: float64,
 'ash': 0      5.11
 1      5.34
 2      5.08
 3      4.79
 4      4.82
        ...
 295    2.49
 296    2.43
 297    2.43
 298    2.32
 299    2.27
 Name: ash, Length: 300, dtype: float64,
 'sodium': 0      1.77
 1      1.79
 2      1.63
 3      1.61
 4      1.64
        ...
 295    0.66
 296    0.67
 297    0.64
 298    0.56
 299    0.57
 Name: sodium, Length: 300, dtype: float64,
 'carb': 0       0.77
 1       1.02
 2       0.80
 3       1.38
 4       1.76
        ...
 295    25.36
 296    24.17
 297    25.98
 298    24.47
 299    25.48
 Name: carb, Length: 300, dtype: float64,
 'cal': 0      4.93
 1      4.84
 2      4.95
 3      4.74
 4      4.67
        ...
 295    2.91
 296    3.10
 297    2.92
 298    2.76
 299    2.81
 Name: cal, Length: 300, dtype: float64}